<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }

    .unsubscribe {
      margin-top: 15px;
      display: block;
      text-align: center;
      font-size: 10px;
      cursor: pointer;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>
  <div class="container">
    <h4>Congratulations on joining the Gala Games Revolution!</h4>
    <p>Welcome!</p>
    <p>Let us take a moment to introduce you to Gala Games! We know you are busy, so we will keep it VERY short.&nbsp;
    </p>
    <p>TLDR: We are gamers who have created an ENTIRELY new way to game. Founded by Eric Schiermeyer (Co-Founder of
      Zynga), legendary game developers like Michael McCarthy, and with a rockstar team, Gala Games is the first attempt
      to give gaming back to YOU, the gamers.&nbsp;</p>
    <p>YOU are one of 2.47 BILLION gamers around the world and we want to give YOU a part of the gaming ecosystem.&nbsp;
    </p>
    <p>THERE ARE TWO WAYS TO GET INVOLVED!&nbsp;</p>
    <p align="center">1. PLAY &amp; SHARE FOR FREE!&nbsp;</p>
    <p>Did you know that it takes game developers making top-tier games as much as $20 PER USER to get people to use
      their apps? What if we restructured things to reward players for bringing in their friends instead? Games like
      Town Star will ALWAYS be free-to-play, but if you play and invite your friends, you can get rewarded in GALA! Be
      the one to introduce your friends to their favorite new game! Be sure to use your link ({{ referralLink }})!</p>
    <p align="center">2. OWN &amp; OPERATE A NODE!&nbsp;</p>
    <p>Do you want to own a piece of a 2.47 BILLION person industry? Do you want a say in how games are developed in the
      future? Do you want to be rewarded for helping to support our network? Do you want limited-edition NFT items to
      use, trade, or sell? Gala Games is the future of gaming. As we grow, we will dismantle the “pay to play” model
      piece by piece and set a new gold standard for game development. Come with us, and let's change the world
      together! Log into <a href="https://app.gala.games/login?goto=index" target="_blank">your account</a> to purchase
      a node!</p>
    <p align="center">Want more info?&nbsp;</p>
    <p>Listen as the Founders of Gala Games discuss the future of gaming, Gala Games, and why blockchain is the way
      forward. Questions for this Town Hall meeting were drawn from our <a href="http://galagames.chat"
        target="_blank">Discord</a>! &nbsp;</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7CaVX38PZmY" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Keep sharing to earn more rewards! You can just forward this email directly to your other friends if you
      want!&nbsp;&nbsp;</p>
    <p>Owned by Gamers,</p>
    <p>The Gala Games Team&nbsp;</p>
    <p align="center"> <a href="https://twitter.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TW.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://facebook.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/FB.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://instagram.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/IG.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://www.youtube.com/c/GalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/YT.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="http://galagames.chat" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/DI.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://t.me/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TE.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; </p>
    <p align="center">See us online at <a href="https://gala.games/" target="_blank">www.gala.games</a>!</p>
    <a href="{{ unsubscribeLink }}" class="unsubscribe">Unsubscribe</a>
  </div>
</body>

</html>