<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    h4 {
      font-weight: 400;
      font-size: 24px;
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px solid #373737;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }

    .image {
      display: block;
      width: 200px;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>
  <div class="container">
    <p>Congratulations and welcome!</p>
    <p>You’re now a member of a growing and exciting game network.</p>
    <p>This isn’t your ordinary game network, that’s for sure…</p>
    <p>Imagine playing your favorite game and owning the very items you discover, build or create during play.</p>
    <p>On the Gala Network, you have provable ownership of game items through blockchain technology.</p>
    <p>You own them, keep them… and you can even trade or sell them with other players.</p>
    <p>It’s your play. It’s your choice.</p>
    <p><a href="https://app.gala.games">Jump in now and get to know your Gala App.</a></p>
    <p>Welcome to Gala and owning your play.</p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-logo.png" alt="logo"
      class="image" style="margin-top: 30px">
  </div>
</body>

</html>