<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }

    .unsubscribe {
      margin-top: 15px;
      display: block;
      text-align: center;
      font-size: 10px;
      cursor: pointer;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>

  <div class="container">
    <p>Hey {{ firstName }}!</p>
    <p>Up until this point in time, we haven’t really mentioned “blockchain” too much...we find that it sometimes scares
      people because it seems complex and techy.&nbsp;</p>
    <p>The GOOD news is that you don’t need to know anything about blockchain, have anything to do with a blockchain, or
      care about blockchain at all to play games created by Gala Games. We know some people just want to play amazing
      games, and making amazing games will always be our #1 priority!&nbsp;</p>
    <p>The BETTER news is that if you DO care a little bit about the blockchain side of things, you can do amazing
      things with items you could win inside games like Town Star, or earn through the operation of a Gala Games Soft
      Node. Whether it is through “crypto crafting” a CraneBot or FarmBot, or trading Fountains or Express Depots on
      sites like <a href="https://opensea.io/assets/town-star?category=town-star" target="_blank">OpenSea</a>, the
      blockchain opens up many opportunities for you to actually OWN the items you use in games.&nbsp;</p>
    <p>At Gala Games, we believe that YOU, the GAMER, should control the direction of development! Join up with us in
      our <a href="http://galagames.chat" target="_blank">Discord</a> and <a href="http://galagames.tel"
        target="_blank">Telegram</a> to tell us what you think! &nbsp;</p>
    <p>Forward this email to your friends, and if they click here and sign up, the are part of your network!
      {{ referralLink }}&nbsp;</p>
    <p>Owned by Gamers,</p>
    <p>The Gala Games Team&nbsp;</p>
    <p align="center"> <a href="https://twitter.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TW.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://facebook.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/FB.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://instagram.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/IG.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://www.youtube.com/c/GalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/YT.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="http://galagames.chat" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/DI.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://t.me/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TE.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; </p>
    <p align="center">See us online at <a href="https://gala.games/" target="_blank">www.gala.games</a>!</p>
    <a href="{{ unsubscribeLink }}" class="unsubscribe">Unsubscribe</a>
  </div>
</body>

</html>