<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }

    .unsubscribe {
      margin-top: 15px;
      display: block;
      text-align: center;
      font-size: 10px;
      cursor: pointer;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>
  <div class="container">
    <p>Hey {{ firstName }}!</p>
    <p>Awesome, you have a Gala Games account! Now what? Hopefully, you have started playing Town Star already! If you
      haven’t, or if it feels a bit on the scary side, don’t worry!&nbsp;</p>
    <p>With hundreds of daily players, there is ALWAYS someone who is willing to help you take the first steps in
      setting your town up. There are online community-created guides like <a href="https://www.townstarguide.com/"
        target="_blank">Andrewii’s</a> or <a href="https://townstartips.wordpress.com/" target="_blank">Benblast’s</a>,
      or community-created walkthrough videos like those made by <a
        href="https://www.youtube.com/channel/UCShC_aMxCOdJlCQUE49U4Fw" target="_blank">EvelynKirb</a>. You can also
      come into our <a href="http://galagames.chat" target="_blank">Discord</a> or <a href="http://galagames.tel"
        target="_blank">Telegram</a> and ask questions about getting started. Town Star, the first game on the Gala
      Games network, is from the creative minds behind Farmville and Farmville 2. Being two of the more popular casual
      games ever created with over 100 million players, Town Star is going to change the world of gaming.&nbsp;</p>
    <p>Give it a shot, and let us know what you think!&nbsp;</p>
    <p>Owned by Gamers,</p>
    <p>The Gala Games Team&nbsp;</p>
    <p align="center"> <a href="https://twitter.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TW.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://facebook.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/FB.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://instagram.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/IG.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://www.youtube.com/c/GalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/YT.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="http://galagames.chat" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/DI.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://t.me/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TE.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; </p>
    <p align="center">See us online at <a href="https://gala.games/" target="_blank">www.gala.games</a>!</p>
    <a href="{{ unsubscribeLink }}" class="unsubscribe">Unsubscribe</a>
  </div>
</body>

</html>