<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>
  <div class="container">
    <p>Hit video games on the blockchain and an experience many will have for the first time - actual ownership of game
      items and rewards.</p>
    <p>That’s Gala.</p>
    <p>That’s worthy of telling people, right?</p>
    <p>In fact telling others about Gala and helping to build the network has some direct rewards associated with it.
    </p>
    <p>Inviting your friends to Gala will make the play more fun, and it can also give you a cooperative edge inside
      Town
      Star.</p>
    <p>Town Star is a global competition of farm and town builders playing for fun and reward.</p>
    <p>Everyone has 5 days to build the most successful town. Having friends to play with and get support is an obvious
      winning strategy.</p>
    <p>In addition, when you invite a friend to play on Gala, and they choose to get a loot box, you’ll get BTC ($5 USD
      value) for referring them.</p>
    <p>To refer your friends simply login to the Gala App and click on the “Share” link in the navigation and grab your
      unique link.</p>

    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-share.png" alt="gala share"
      style="display: block; width: 100%;" />

    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-logo.png" alt="logo"
      style="margin-top: 30px; width: 200px;" />
  </div>
</body>

</html>