<!DOCTYPE html>
<html>

<head>
  <title></title>

  <style>
    .image {
      display: block;
      width: 200px;
    }
  </style>
</head>

<body>
  <div>
    <img src="cid:betakey" alt="beta key" class="image" />
    <h4>Congratulations!</h4>
    <p>You’re now the proud owner of a Beta Key that gives you the right to advanced play access for select games on the
      Gala Network.</p>
    <p>This “Gala Key” is limited and exclusive, so cheers to you for taking action and securing yours.</p>
    <p>Gala is a next generation game network with unique attributes...</p>
    <p>Imagine playing your favorite game and owning the very items you discover, build or create during play. </p>
    <p>On the Gala network, you have provable ownership of game items through blockchain.</p>
    <p>You own them, keep them… and you can even trade or sell them with other players.</p>
    <p>It’s your play. It’s your choice.</p>
    <p><a href="https://app.gala.games">
        Jump in now and get to know your Gala App.
      </a></p>
    <p>Welcome to Gala and owning your play.</p>
    <img src="cid:galalogo" alt="logo" class="image" style="margin-top: 30px" />
  </div>
</body>

</html>