<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    .image {
      display: block;
      width: 100%;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>
  <div class="container">
    <p>The FarmBot is calling you…</p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/farmbot_still.png" alt="farmbot"
      class="image">
    <p>Here’s how to get yourself a loot box (or several) and start building your very own FarmBot.</p>
    <p>Step 1. Login to the Gala App.</p>
    <p>It’s your portal to awesome games built on blockchain and where to get a Loot Box and other unique game items.
    </p>
    <p>Step 2. Click on “Games” in the navigation bar.</p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-bottom-navigation.png"
      alt="games" class="image" />
    <p>Step 3: Select the quantity of Loot Boxes to purchase. </p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-buy-loot-box-options.png"
      alt="loot box options" class="image" />
    <p>You love games and playing for reward sounds awesome, right?</p>
    <p>Go ahead and treat yourself, with the confidence that your purchase helps grow and support the Gala Network.
      (more
      on how this benefits you, tomorrow)</p>
    <p>Step 4: Click “Buy Now”</p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-buy-loot-box-buy-now.png"
      alt="loot box buy now" class="image" />
    <p>Step 5: Review Order and Click “Buy Now”.</p>
    <p>Step 6: Add required BTC to the app.</p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-buy-loot-box-copy-address.png"
      alt="receive bitcoin" class="image" />
    <p>Scan the QR with your phone, or copy the BTC address and send from your BTC wallet.</p>
    <p>Don’t have any BTC? No problem.</p>
    <p>Copy the BTC address, then click the blue “Buy BTC” button.</p>
    <p>You’ll be taken to CoinGate where you can purchase BTC with your bank or credit card.</p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-coingate.png" alt="coingate"
      class="image" />
    <p>Just paste your BTC address and your BTC can be sent directly to your Gala App.</p>
    <p>It’s convenient.</p>
    <p>Step 7: Check your Gala items for your new Loot Box(es).</p>
    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-open-loot-box.png"
      alt="open loot box" class="image" />
    <p>It can take several minutes for your purchase to be confirmed on the blockchain, but your Loot Box(es) await.</p>
    <p>Step 8: Unbox that Loot Box!</p>
    <p>Step 9: Repeat and collect them all!</p>
    <p>Will you be first to build a FarmBot and introduce BoxCoin into Town Star?</p>
    <p>If you are, there’s a whole lot of perks that come with it!</p>
    <p><a href="https://app.gala.games">Head on over to the app now.</a></p>

    <img src="https://gala-email-images.s3-us-west-2.amazonaws.com/welcome-sequence/gala-logo.png" alt="logo"
      style="margin-top: 30px; width: 200px;" />
  </div>
</body>

</html>