<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <p>Great News! Your invite for {{ brand }} has been accepted and they have a New {{ brand }} Account! And now in order
    for you to receive your 100 Gala tokens your friend needs to Play Townstar!</p>
  <p>Thank you for sharing!</p>
  <p>Here is your unique referral link: {{ referralLink }}. Keep sharing to earn more rewards!</p>
  <p>{{ brand }} Support Team
  </p>
</body>

</html>