<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>
  <div class="container">
    <p>Hi {{ firstName }},</p>

    <p>Your friend, {{ referrer }}, has sent you this message to remind you that in order for you to receive your 100
      Gala
      tokens you need to play Townstar. If you play Townstar they will also receive 100 Gala and be added into the daily
      distribution.</p>

    <p>All you need to do is go here: <a href="https://app.gala.games">https://app.gala.games</a> and then navigate to
      Townstar. Once you are in the game all
      you need to do is play the game until you make your first trade and then we will send you your 100 Gala! The great
      news is the game is very fun and you might just win a really cool blockchain prize!
      (Here is a secret...put your town next to your friends and you can trade with each other.)</p>

    <p>We encourage you to also send your own referral link to your friends so you can also earn fun rewards! Here is
      your link: {{ referralLink }}</p>

    <p>Enjoy the game!</p>

    <p>Gala Team</p>
  </div>
</body>

</html>