<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Hello {{ user.firstName }},</p>
    <p>
      {{ referredUser.firstName }} has accepted your invitation and created a
      {{ brand }} wallet.
    </p>
    <p>
      Thank you for sharing! <br />
      {{ brand }} Support Team
    </p>
  </body>
</html>
